<div #canvasContainer class="canvas-container"></div>

<div *ngIf="loading" class="loading">
    <div class="spinner-border text-warning" role="status"></div>
</div>

<div *ngIf="!loading">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{meuble._nom}}</h5>
            <p class="card-text">hauteur : {{meuble._hauteur}} cm</p>
            <p class="card-text">longueur : {{meuble._longueur}} cm</p> 
            <p class="card-text">largeur : {{meuble._largeur}} cm</p> 
    
            <a class="back" [routerLink]="['../../selection', meuble._typeMeubleDto?._id]" class="btn">aller à sa selection</a>
            <a class="back" [routerLink]="['']" class="btn">retour à l'accueil</a>
        </div>
    </div>

</div>