.card{
    margin: -6% 5% 25% 65%;
}

.card-body{
    text-align: center;
}

.btn{
    margin: 5px !important;
}

.canvas-container{
    width: 50%; 
    height: 300px;
    margin-left: -15%;
}

@media (max-width: 1440px) {
    .card{
        width: 59%;
        height: 50%;
        margin: 35% 5% 20% 22%;
    }   

    .canvas-container{
        margin:0 0 60% 0;
    }


}