.title-main{
    margin-left: 43%;
}

@media (max-width: 1550px) {

    .title-main{
        margin-left: 38%;
    }

}

@media (max-width: 1440px) {
    .title-main{
        margin-left: 10%;
    }
}
