
<div *ngIf="loading" class="loading">
  <div class="spinner-border text-warning" role="status"></div>
</div>

<div *ngIf="!loading">

  <h2 class="title-main">Selection choisie : {{ typeMeubleName }}s</h2>
  <div class="card-container" *ngFor="let meuble of meubles">
    <div class="card">
      <img src="../../../../assets/image/{{meuble._typeMeubleDto?._nom}}/{{meuble._nom}}.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{meuble._nom}}</h5>
        <a [routerLink]="['../../details-meuble', meuble._nom]" class="btn">details</a>
      </div>
    </div>
  </div>

</div>
