<h2 class="title-main">Bienvenue ! Découvrez les meubles réalisable par nos soins</h2>

<div *ngIf="loading" class="loading">
  <p class="text-loading">Chargement des données...</p>
  <div class="spinner-border text-warning" role="status"></div>
</div>

<div *ngIf="!loading">

  <div class="card-container" *ngFor="let meuble of displayedMeubles">
    <div class="card">
      <img src="../../../../assets/image/{{meuble._typeMeubleDto?._nom}}/{{meuble._nom}}.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{meuble._nom}}</h5>
        <a [routerLink]="['details-meuble', meuble._nom]" class="btn">details</a>
      </div>
    </div>
  </div>

</div>
