<h5 class="title-main">
  Le site est actuellement en construction,
  vous pouvez tout de même consulter nos produits standard disponible.
  N'hesitez pas à nous <a routerLink="/contact">contacter pour du sur mesure</a>
</h5>

<div *ngIf="loading" class="loading">
  <div class="spinner-border text-warning" role="status"></div>
</div>

<div *ngIf="!loading">

  <div class="card-container" *ngFor="let meuble of displayedMeubles">
    <div class="card">
      <img src="../../../../assets/image/{{meuble._typeMeubleDto?._nom}}/{{meuble._nom}}.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{meuble._nom}}</h5>
        <a [routerLink]="['details-meuble', meuble._nom]" class="btn">details</a>
      </div>
    </div>
  </div>

</div>