<div class="main-container">
  <div class="form-container">
      <h4 class="title-contact">Concevez votre idée</h4>
      <h6 class="title-contact">(En développement)</h6>

      <form (ngSubmit)="onSubmit()">
          <div>
              <label for="furnitureType">Type de meuble :</label>
              <select id="furnitureType" [(ngModel)]="formData.furnitureType" name="furnitureType" required>
                  <option value="table">Table</option>
              </select>
          </div>

          <div *ngIf="formData.furnitureType === 'table'">
            <label for="size">Taille :</label>
            <select id="size" [(ngModel)]="formData.size" name="size" required>
                <option *ngFor="let size of sizesTable" [value]="size">{{ size }}</option>
            </select>
            </div>

          <div *ngIf="formData.furnitureType === 'etagere'">
              <label for="size">Taille :</label>
              <select id="size" [(ngModel)]="formData.size" name="size" required>
                  <option *ngFor="let size of sizesShelf" [value]="size">{{ size }}</option>
              </select>
          </div>

          <div>
              <label for="woodType">Type de bois :</label>
              <select id="woodType" [(ngModel)]="formData.woodType" name="woodType" required>
                  <option *ngFor="let wood of woodTypes" [value]="wood">{{ wood }}</option>
              </select>
          </div>

          <div *ngIf="formData.furnitureType === 'table'">
              <label for="legType">Type de pieds de table:</label>
              <select id="legType" [(ngModel)]="formData.legType" name="legType" required>
                  <option *ngFor="let leg of littleLegTypes" [value]="leg">{{ leg }}</option>
              </select>
          </div>

          <div *ngIf="!isLoading">
            <button type="submit" [disabled]="isLoading">Aperçu</button>
          </div>
          
          <div *ngIf="isLoading" class="loading">
            <div class="spinner-border text-warning" role="status"></div>
          </div>
          
      </form>

      <div #rendererContainer class="canvas-container" id="canvas-form-meuble"></div>
  </div>
</div>
