<footer class="bg-body-tertiary text-center text-lg-start text-muted">

    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

      <!-- <div class="me-5 d-none d-lg-block">
        <span>Connectez-vous avec nous sur les réseaux sociaux :</span>
      </div>

      <div>
      </div> -->
    </section>

    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Steel Craft
            </h6>
            <p>
              Entreprise spécialisée dans la création de meuble sur mesure et proposant des modèles de création.
            </p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

            <h6 class="text-uppercase fw-bold mb-4">
              Produits
            </h6>
            <p>
              <a class="dropdown-item" [routerLink]="['selection', '113']">tables</a>
            </p>
            <p>
              <a class="dropdown-item" [routerLink]="['selection', '114']">étagères</a>
            </p>
            <p>
              <a class="dropdown-item">chaises (à venir)</a>
            </p>
            <p>
              <a class="dropdown-item">portails (à venir)</a>
            </p>
            <p>
              <a class="dropdown-item">décorations (à venir)</a>
            </p>
            <p>
              <a class="dropdown-item">portes (à venir)</a>
            </p>
          </div>


          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              ADRESSES
            </h6>
            <p><i class="fas fa-home me-3"></i>43000 Le Puy En Velay</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              email@example.com
            </p>
          </div>
        </div>
      </div>
    </section>

  <div class="text-center p-4">
    © 2024 Tous droits réservés
  </div>

</footer>
