.navbar {
    z-index: 1000;    
}
 
a{
    text-decoration: none;
    background-color: transparent;
}

a:link {
    color: rgb(0, 0, 0);   
}
  
a:visited {
    color: rgb(89, 86, 86);
}

a:hover {
    color: red;
}

a:active {
    color: rgb(255, 187, 0);
}

.dropdown-menu{
    background-image: url('../../../../assets/image/texture/steel.jpeg');
    background-size: cover; /* Pour couvrir tout l'element */
    background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
}



@media (max-width: 1550px) {

}

@media (max-width: 1440px) {
    

    
}
