.navbar {
    z-index: 1000;    
}
 
a{
    text-decoration: none;
    background-color: transparent;
}

a:link {
    color: rgb(0, 0, 0);   
}
  
a:visited {
    color: rgb(89, 86, 86);
}

a:hover {
    color: red;
}

a:active {
    color: rgb(255, 187, 0);
}

.dropdown-menu{
    background-image: url('../../../../assets/image/texture/steel.webp');
    background-size: cover; /* Pour couvrir tout l'element */
    background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
}

.navbar-nav {
    margin-left: auto;
}

@media (max-width: 1550px) {

}

@media (max-width: 1440px) {

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar-toggler {
        margin-right: auto; /* Ensures the burger menu stays on the left */
    }
      
    .navbar-brand {
        margin-right: 35%; /* Ensures the brand name is centered/aligned correctly */
    }
        
    .nav-item {
        margin-left: 0%;
    }   
    
    .ms-auto {
        margin-left: auto !important; /* Utilisez margin-left pour les langues LTR, ou ajustez pour RTL */
    }
}
