.navbar {
    z-index: 1000;    
}
 
a{
    text-decoration: none;
    background-color: transparent;
}

a:link {
    color: rgb(165, 150, 150);   
}
  
a:visited {
    color: rgb(175, 169, 169);
}

a:hover {
    color: red;
}

a:active {
    color: rgb(255, 187, 0);
}



@media (max-width: 1550px) {

}

@media (max-width: 1440px) {
    

    
}
