/* You can add global styles to this file, and also import other style files */
body{
    font-weight: 600;
    font-style: normal;
}

.title-main{
    margin: 8% 5% 5% 29%;
    color: rgb(209, 209, 209);
}

.card-container{
    display: inline-block;
    margin-left: 5.4%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.card{
    border: 0.5px solid rgb(94, 94, 94);
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px grey;
    margin: 10px; 
    width: 15rem;
}

.card-body{
    text-align: center;
}

.loading{
    margin: 10% 5% 9.8% 45%; 
}

.spinner-border{
    margin-left: 7.5%;
}


#mail-success ,#mail-failed{
    margin-bottom: 15%;   
}

#mail-success{
    margin-left: 9%;
    
}

#mail-failed{
    margin-left: 25%;
}

.navbar, .card, footer{
    background-image: url('../src/assets/image/texture/steel3.jpg');
    background-size: cover; /* Pour couvrir toute la navbar */
    background-position: center; /* Centrer l'image */
    background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
}

.navbar{
    background-attachment: fixed; /* Pour que l'image reste fixe */
}

.btn {
    background-color: rgb(223, 221, 221);
    border: 0.1px rgb(94, 94, 94);
    box-shadow: 2px 2px 10px 2px grey;
}

body{
    background-image: url('../src/assets/image/texture/body.jpeg');  
    background-size: cover; /* Pour couvrir toute la navbar */
    background-position: center; /* Centrer l'image */
    background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
}

.text-loading{
    color: rgb(209, 209, 209);
}

.mail{
    text-decoration: none;
    color: rgb(63, 135, 138);
}

@media (max-width: 1550px) {

    .title-main{
        margin: 8% 5% 5% 23%;
    }

    .card-container{
        margin-left: 2.3%;
    }

    .spinner-border{
        margin-left: 10%;
    }

    #mail-success{
        margin-left: 9%;
    }

    #mail-failed{
        margin-left: 18%;
    }
}

@media (max-width: 1440px) {

    .title-main{
        margin: 25% 5% 5% 8%;
        text-align: center;
    }
    
    .nav-item{
        margin-left: auto;
    }

    .card-container{
        display: inline-block;
        margin-left: 17%;
    }

    .loading{
        margin: 28% 5% 9.8% 25%; 
    }

    .spinner-border{
        margin-left: 28%;
    }

    #mail-failed{
        margin-left: 9%;
    }
}